/**
* Estilos de las las flechas para navegar en la pagina
*/

.flecha-der , .flecha-izq {
	background      :$blanco ;
	position        : fixed;
	display         : flex;
	justify-content : center;
	align-items     : center;
	padding         : 0.5em;
	top             : 50%;
	color           : #000;
	font-size       : 23px;
	box-shadow      : 1px 1px 5px rgba(0,0,0,0.2);
	transition      : all ease 0.5s;
	border-radius   : 50%;
	cursor          : pointer;
	z-index         : 1000;


	@include hasta(tablet) {
		opacity: 0.3;
	}

	&:hover{
		background    : $azul-claro;
		color         : #fff;
		opacity       : 1;
	}
}

// Flechas de la página
.flecha-der{
	right: 10px;
}

.flecha-izq{
	left: 10px;
}

ul.paginador{
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select:none;

	.btn_paginador{
		color: #666 !important;
		background: transparent;
		box-shadow: none;
		border: none;
		border-radius: 3px;
		position: relative;
		height: 36px;
		margin: 0;
		min-width: 40px;
		padding: 0 1px;
		display: inline-block;
		font-family: "Roboto","Helvetica","Arial",sans-serif;
		font-size: 14px;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 0;
		overflow: hidden;
		will-change: box-shadow;
		transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
		outline: none;
		cursor: pointer;
		text-decoration: none;
		text-align: center;
		line-height: 36px;
		vertical-align: middle;

		&:hover{
			background: rgba(158,158,158,.2);
		}

	}

	.hide_btn{
		display: none;
	}

	.puntos_inicial {
		> span::after{
			content: " ...";
		}
	}

	.puntos_final {
		> span::before{
			content: "... ";
		}
	}

	.anterior, .siguiente{
		&:active{
			background-color: rgba(158,158,158,.7);
		}
	}


	.btn_paginador.active{
		display: inline-block;
		background: #1F95D0 !important;
		color: #FFF !important;
	}
}

// ESTILOS BARRA FILTRO
.barra-filtro{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  border-radius: 3px;
  flex-wrap: nowrap;
  border: none;
  .btn-barra-filtro{
    height: 39px;
    max-width: 80px;
    min-width: 80px;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $azul-barra;
    border-radius: 3px;
    padding: 0.7em 0;
    cursor: pointer;
    >span{
      z-index: 10;
      font-size: 1.2em;
      color: #FFF;

    }
    @include desde-hasta(0,550px){
      max-width: 50px;
      min-width: 50px;
    }

  }
  .btn-barra-filtro::after{
    content: "";
    z-index: 9;
    height: 29px;
    width: 29px;
    background: $azul-barra;
    position: absolute;
    transform: rotate(45deg);
    top: 5px;
    left: 65px;
    border-radius: 3px 0px 3px 0px;
    @include desde-hasta(0,550px){
      left: 35px;
    }
  }
  .input-barra{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 2;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0 ,0.2);
    border-bottom: 1px solid rgba(0, 0, 0 ,0.2);
    width: 100%;
    >input{
      display: flex;
      align-items: center;
      font-size: 16px;
      padding: 0.5em 3em 0.5em 3em;
      border: none;
      @include desde-hasta(0,550px){
        padding: 0.5em 0.6em 0.5em 1.5em;
      }
    }
  }
  .btn-barra-menu{
    width: 60px;
    height: 37px;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 0 2px 2px 0;
    box-shadow: 0 0 0 1px rgba(0,0,0,.2);

    >span{
      font-size: 1.2em;
      color: rgba(0,0,0,.5);

      >span{
        font-size: 0.8em;
        margin-left: 5px;

      }
    }
  }
}

.menu-filtro{
  display: none;
  width: 60%;
  flex-direction: column;
  margin-top: 10px;
  background: #FFF;
  height: auto;
  position: absolute;
  z-index: 200;
  right: 0;
  top: 56px;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,.2);
  box-shadow: 0 1px 10px 0 rgba(0,0,0,.2);

  @include desde-hasta(0,tablet) {
    width: 100%;
  }
  h5{
    color: rgba(0,0,0,.5);
    border-bottom: 1px solid  rgba(0,0,0,.2);
    width: 100%;
    font-size: 1.2em;
    padding: 1em 2em;
    cursor: pointer;
    span{
      margin-right: 15px;
      @include desde-hasta(0,385px) {
      }
    }
    @include desde-hasta(0,385px) {
      font-size: 1em;
      padding: 1em;
    }

  }
  .contenido-menu-filtro{
    .contenedor{
      padding: 1em 0.5em;
      border-bottom: 1px solid rgba(0,0,0,.1);
      display: none;
      flex-direction: row;
      @include desde-hasta(0,tablet){
        flex-direction: column;
      }
      .contenedor-input{
        margin-bottom: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding:1em ;
        box-sizing: border-box;
        >label{
          display: flex;
          margin-bottom: 10px;
          color: rgba($azul-oscuro,1);
          font-weight: 500;
        }
        input,select{

          border: 1px solid rgba(0,0,0,.3);
        }
        .texto{
          flex-wrap: nowrap;
          align-items: center;
          .texto-icono{
            border-radius:50%;
            height: 40px;
            width: 40px;
            border: 2px solid $azul-oscuro;
            span{
              color: $azul-oscuro;
              font-size: 20px;
            }
            @include desde-hasta(0,430px){
              display: none;
            }
          }
          >p{
            font-size: 14px;
            color:rgba(0,0,0,0.7);
            >label{
              font-weight: bold;
              color:rgba(0,0,0,0.7);

            }
            @include desde-hasta(0,429px){
              flex: 100%;
            }
          }
        }
      }

    }
  }
}

.btn-left{
  >button{
    margin-left: 1em;
    width: 40px;
    height: 36px;
    padding: 0;
    font-size: 1.1em;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
  }
}

.n_in_row{
  flex-direction: row !important;
}
.n-checkbox{
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  margin: 0 30px;
  margin-top: 10px;
  @include desde-hasta(tablet,974px){
    width: 45%;
  }
  @include desde-hasta(450px,614px){
    width: 45%;
  }
  @include desde-hasta(0,movil){
    width: 85%;
    margin: 0;
    margin-top: 10px;
  }

  .contenedor-checkbox{
    input[type="checkbox"],input[type="radio"]{
		display: none;
      +  label{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .2em;
        cursor: pointer;
        border-radius: 1%;
        border: 0.10em solid #808080;
        font-size: 0.80em;
      }
      +  label::before{
        color: #fff ;
      }
    }

    input[type="checkbox"]:checked,input[type="radio"]:checked{

      +  label{
        background: none;
        padding: .2em;
        border: 0.10em solid  $azul-oscuro !important;
        color: $azul-oscuro;
      }
      +  label::before{
        color: $azul-oscuro;
      }
    }
  }

  .descripcion-checkbox{
    color: #808080 !important;
    font-size: 1em;
    margin-right: 15px;
    cursor: pointer;
    font-family: Arial;
    font-weight: lighter !important;
  }

}
.labelTxt{
  color: #808080;
  margin: 10px 0;
}

.reset{
  box-shadow: none;
  background: none;
  overflow: none;
}

.w100{
  width: 100%;
}


// Preloader
#preloader {
	width: 100%;
	height: 100vh;
	background: #00B5C6;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100000000;
	display: flex;
	justify-content: center;
	align-items: center;

	#img_preloader{
		width: 800px;
		height: 600px;
		background-image: url('../Img/Todos/preloader.gif');
		background-position: center;
	}
}
