@import "../../Base/_variables.scss";
@import "../../Base/_funciones.scss";

.panel{
  .panel-contenido{
    .rdo{
      padding: 1.2em;
      margin: 0;

      span{
        span{
          padding:0em 0.5em;
          font-size: 20px;
          color: rgba($negro , .8);
        }
      }
    }
  }

  .no-pad-lados{
    padding-left: 0;
    padding-right: 0;
  }

}

.item-rdo-flex{
  display: flex;
  margin-bottom: 1em;
  justify-content: space-between;
  box-sizing: border-box;
}

.solid-bottom{
  border-bottom: 1px solid rgba(0,0,0,.08);
}

.solid-top{
  border-top: 1px solid rgba(0,0,0,.08);
}

.campo{
  margin-top: 0.4em;
  margin-bottom: 1.3em;
}


// Para validadr campos con angularJs
.msjRequeridoAngular{
  color       : $rosado;
  font-size   : 13px;
  margin-left : 3px;
  transition  : all ease 0.4s;
  text-align: left;
}

.input-invalid{
  border: solid 1px $rosado;
}



/**
* Estilos para el layout de reporteAPH
*/

// Menú de emergencia de ReporteAPH
#menu_emergencia{
  background : #FFF;
  width      : 50%;
  padding    : 0;
  height     : auto;
  display    : none;
  margin     : 0 auto;
  position   : fixed;
  max-height : 80%;
  overflow-y : auto;
  top        : 3.8em;
  right      : 1.4em;
  z-index    : 200;
  box-shadow : 0 0 1px rgba(76,86,103,0.25),0 2px 18px rgba(31,37,50,0.32);
  color: #2C353A;


  h5{
    color       : rgba($negro,.8);
    text-align  : center;
    padding     : 0.5em;
    background  : rgba($negro,.1);
    font-weight : bold;
  }

  .fila-menu{
    width           : 100%;
    display         : flex;
    justify-content : space-between;
    text-align      : center;

    .col-menu{
      border-right    : 1px solid #e8e9ea;
      border-top      : 1px solid #e8e9ea;
      padding         : 1em;
      flex            : 1;

      a{
        color      : rgba($negro,.8);
        transition : all ease 0.5s;
        &:hover{
          color: rgba($rosado,1);
        }
      }

      .img-ayuda{
        text-align     : center;
        display        : flex;
        justify-content: center;
        img{
          width        : 50px;
          height       : 50px;
          border-radius: 50%;
        }
      }

      .ambu{
        img{
          width  : 50px;
          height : 50px;
        }
      }
    }
  }

  .col-menu{
    i{
      font-size : 30px;
    }
  }
}


// Botón de llegada, cambia de color al confirmar la llegada
#text_hora_llegada::after {
  content :'Confirmar';
}

.cont_btn_llegada{
  background : rgba($agua-marina,0.9);
  transition : all ease-in-out 1s;
  a p,.fa{
    color    : $blanco;
  }
  p::after{
    content  : attr(hora_llegada) !important;
  }

}

.md_comfirmar{
  background-color : rgba($blanco,1);
  opacity          : 0;
  width            : 80vh;
  max-height       : 200px;
  height           : 200px;
  position         : fixed;
  margin           : auto;
  text-align       : center;
  left             : 0;
  right            : 0;
  z-index          :-1;
  box-shadow       : 0px 0px 1px rgba(76, 86, 103, 0.25), 0px 2px 18px rgba(31, 37, 50, 0.32);
  transition       : all ease-out 0.3s;

  .head_md_confirmar{
    width          : 100%;
    padding        : 0.5em;
    box-sizing     : border-box;
    display        : flex;

    background     : rgba($azul-barra,1);
    h5{
      font-family  : 'Oswald',sans-serif;
      color        : #fff;
    }
  }//.head_md_confirmar

  .contenido_md_confirmacion{
    width           : 100%;
    height          : 70%;
    display         : flex;
    justify-content : space-around;
    align-items     : center;
    padding         : 1em;
    box-sizing      : border-box;

    .icono_md_Confirmar{
      span{
        color       : rgba($azul-barra,1);
        font-size   : 6em;
      }
    }//.icono_md_Confirmar

    button{
      width         : 40%;
      background    : rgba($blanco,.1);
      padding       : 0.2em;
      margin-top    : 1em;
      border        : solid 1px rgba($negro,.2);
      color         : rgba($negro,1);
      transition    : all ease-in 0.3s;
      &             :hover{
        background  : rgba(#888,.1);
        color       : rgba($negro-claro,1);
      }
    }

  }//.contenido_md_confirmacion
}//.md_comfirmar

#abrirConfirmacion{
  top     : 60px;
  opacity : 1;
  z-index : 10000;
}



/**
* Estilos para la ventana de novedad
*/
.md_solicitarAyuda {
  background-color : #fff;
  opacity          : 0;
  width            : 400px;
  height           : auto;
  position         : fixed;
  margin           : auto;
  top              : -1000px;
  text-align       : center;
  left             : 0;
  right            : 0;
  z-index          : -1;
  box-shadow       : 0px 0px 1px rgba(76, 86, 103, 0.25), 0px 2px 18px rgba(31, 37, 50, 0.32);
  transition       : all ease-out 0.3s;
  max-height       : 80%;
  overflow-y       : auto;

  .head_md_confirmar {
    width         : 100%;
    padding       : 0.5em;
    color         : #fff;
    box-sizing    : border-box;
    background    : #2980b9;
    display: flex;
    justify-content: space-between;
    padding:0.5em 1em;
    box-sizing: border-box;
    align-items: center;

    h5{
      color: #fff;
    }

    span{
      cursor: pointer;
      font-size: 18px;
      background: rgba(#fff , .1);
      border-radius: 50%;
      height: 26px;
      width: 26px;
      transition: all ease 0.5s;
      border: none;
    }

    span:hover{
      background: rgba(#fff , .2);
    }



  } // Fin .head_md_confirmar


  .contenido_md_confirmacion {
    width           : 100%;
    height          : 70%;
    display         : flex;
    justify-content : space-around;
    align-items     : center;
    padding         : 1em;
    box-sizing      : border-box;
    text-align: left;

    .icono_md_Confirmar span {
      color     : rgba(255, 255, 255, 0.5);
      font-size : 6em;
    }

    .no-pad .fila .columna--10 .cont-antecedente .radio{
      display   : flex;
    }



  } // Fin .contenido_md_confirmacion



} // Fin .md_solicitarAyuda

.cont_pedirAyuda{
  width: 100%;
  overflow-y: auto;
}


@media (max-width : 400px) {
  .md_solicitarAyuda {
    width         : 100%;
  }
}

.div_botones {
  width: 100%;
}

@media (max-width: 768px) {
  .div_botones {
    width: 100%;
  }
}

.md_solicitarAyuda .contenido_md_confirmacion .no-pad .fila .columna--10 .cont-antecedente {
  -webkit-flex-wrap: wrap !important;
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}

.md_solicitarAyuda .contenido_md_confirmacion .no-pad .fila .columna--10 .cont-antecedente .cont-radio {
  -webkit-flex-wrap: wrap !important;
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}

.md_solicitarAyuda .contenido_md_confirmacion .no-pad .fila .columna--10 .cont-antecedente .radio {
  margin: 0.5em 0;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.md_solicitarAyuda .contenido_md_confirmacion .no-pad .fila .columna--10 .cont-antecedente .radio label {
  margin-right: 0;
  width: 48%;
}

.tipoevento_solicitud-none {
  display: none;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.tipoevento_solicitud-block {
  display: block;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.no-pad {
  padding: 0 !important;
  width: 100%;
}

.cont-antecedente {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px rgba(34, 34, 34, 0.1);
  padding: 0.5em 1em;
  box-sizing: border-box;
  border-radius: 2px;
  margin-top: 0.2em;
}


/**
* Estilos de los radios y checkbox
*/
.cont-radio{
  justify-content: space-between;
  width: 100%;
  input[type=radio]{
    border: 1px solid rgba(#18B9E3,1);
    transition:all ease 0.4s;
  }
}

@include hasta(movil) {
  flex-wrap: wrap;

  .cont-radio{
    flex-wrap: wrap;
  }
  .radio{
    margin: 0.5em 0;
    width: 100%;
    justify-content: space-between;
  }

  .radio label{
    margin-right: 0;
    width: 48%;
  }
}

@include desde-hasta(tablet,1050px) {
  flex-wrap: wrap;

  .cont-radio{
    flex-wrap: wrap;
  }
  .radio{
    margin: 0.5em 0;
    width: 100%;
    justify-content: space-between;
  }

  .radio label{
    margin-right: 0;
    width: 48%;
  }
}


input[type=radio],
input[type=checkbox] {
  display: none;
}

.radio label,.checkbox label {
  border-radius: 1px;
  border: solid 1px  rgba(#18B9E3,1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3em 0;
  width: 100%;
  transition: all ease 0.4s;
  cursor: pointer;
  margin-right: 5px;
}
.checkbox label {
  margin-bottom: 10px;
}
.checkbox label:before {
  border-radius: 3px;
}

input[type=radio]:checked + label , input[type=checkbox]:checked + label{
  color: #f3f3f3;
  background:  rgba(#18B9E3,1);
  text-align: center;
}

label.rdo-redondo{
  border-radius: 50%;
  width: 16px;
  height: 16px;
}


input[type=radio] + label.rdo-redondo:before, input[type=checkbox]:checked + label.check-rdo:before{
  content: "";
  position: relative;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: rgba($blanco,.0);
}
input[type=radio]:checked + label.rdo-redondo:before,input[type=checkbox]:checked + label.check-rdo:before{
  content: "";
  position: relative;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: rgba($blanco,.75);
  transition: all 0.2s;
}

input[type=radio],
input[type=checkbox] {
  display: none;
}

.ListarNovedades{
  max-width: 370px;
}

.filtroNovedades{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em 0;
  border: solid rgba($negro , .1) 1px;
  padding: 0.2em 0.5em;
  transition: all ease 0.4s;

  &:hover{
    border: solid rgba($azul-claro , 1) 1px;
  }

  input{
    width: 95%;
    border:none;
  }
}

.novedades_no_resultados{
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  h4{
    text-align: center;
    font-style: italic;
    font-size: 18px;
    text-transform: none;
    color: rgba($negro , .8);
  }
}

.item-novedad{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .text-novedad{
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
  }

  .botones-item-novedad{
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.btn-item-novedad{
  cursor: pointer;
  box-sizing: border-box;
  transition: all ease 0.5s;
  font-size: 18px;

  &:nth-child(1):hover{
    color: $color-naranja;
  }

  &:nth-child(2):hover{
    color: $rosado;
  }

}

// Estilos de listar las ambulancias
.mi-ambulancia{
  color: #3566ae;
font-size: 1.4em;
position: relative;
left: -15px;
}

div.contenedor-ambulancia{
  background: $blanco;
  box-shadow: 0 10px 20px rgba(43, 59, 93, 0.29);
  width: 50%;
  max-width: 400px;
  position: fixed;
  border: solid 1px rgba(44, 53, 58, 0.1);
  height: 100%;
  right: -100%;
  top: 0;
  z-index: 1000;
  @include desde-hasta(0,movil) {
    width: 100%;
  }
  @include desde-hasta(movil,tablet) {
    width: 65%;
  }
  > div.contenedor-titulo{
    position: relative;
    top: 60px;
    width: 100%;
    font-size: 1em;
    border-bottom: 1px solid #ccc;
    height: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: rgba(#222B2F,1);
    padding: 0 1em;
    box-sizing: border-box;
    min-height: 60px;
    max-height: 60px;
    > h3{
      font-size: 1.3em;
      @include desde-hasta(0,movil) {
        font-size: 1.2em;
      }

    }
    .cerrar-menu-ambulancia{
      font-weight: 10;
      background: transparent;
      border-radius: 50%;
      padding: 0.1em 0.2em;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 34px;
      height: 30px;
      border: solid 1px rgba(44,53,58,0.7);
      cursor: pointer;
      color: rgba(44,53,58,0.8);
      transition: all ease 0.3s;
      &:hover{
        color: rgba(#000,0.9);
        border: solid 1px rgba(#000, 0.7);
        transition: all ease 0.3s;
      }
    }
  }
  > div.contenedor-cuerpo{
    position: relative;
    top: 63px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 75%;
    > div.informacion-ambulancia{
      width: 100%;
      height: auto;
      > div.head-ambulancia{
        display: flex;
        border: 0 solid #fff;
        color: #3566AE;
        border-bottom: 1px solid $azul-barra;
        cursor: pointer;
        > div.titulo-ambulancia{
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 70%;
          padding: 13px 0;
          > h5{
            font-size: 1em;
            color: $azul-barra;

          }
          > span{
            border-radius: 50%;
            font-size: 1.4em;
            display: flex;
            color: $azul-barra;
            justify-content: center;
            align-items: center;
            margin: 0 15px;
          }

        }
        > p{
          font-size: 12px;
          width: 29%;
          display: flex;
          align-items: center;
          justify-content:flex-end;
          color: rgba(0,0,0,0.5);
          margin-right: 13px;
        }
      }
      > div.cuerpo-ambulancia{
        display: none;
        > ul{
          list-style: none;
          >  li{

            display: flex;
            align-items: center;
            padding: 10px;
            font-size: .95em;
            border-bottom: 1px solid rgba(#ccc,0.5);
            color: rgba(0,0,0,0.5);
            >  span{
              font-size: 1.2em;
              color: rgba(0,0,0,0.5);
              margin: 0 13px;
            }
            >  p{
              margin-left: 6px;
              color: rgba($azul-oscuro,0.92);
              @include desde-hasta(0,movil) {

              }
            }
          }
        }
      }
    }
  }
}
.menu-filtro .contenido-menu-filtro .contenedor .contenedor-input input[type="date"]{
  border-width: 0;
}


/**
* RESPONSIVE DESIGN
*/
@include hasta(800px) {

  #menu_emergencia{
    width: 95%;
    margin: auto;
    left: 0px;
    right: 0px;
    top: 60px;
    flex-wrap: wrap;
    overflow: auto;
  }

}

@include hasta(475px) {
  #menu_emergencia{
    overflow-y: auto;
    //max-height: 500px;
  }
}

body>.notify_container{
  z-index: 30000;

  .notify .panel_info p{
    text-align: left;
  }
}


// Estilos extras barra busqueda
.img_no_data{
  border-radius: 50%;
}

.input-barra{
  height: 37px;
}

.btn-barra-filtro::after{
  height: 28px !important;
}

.btn-barra-menu{
  height: 37px !important;
  box-shadow: 0px 0px 1px 1px #e5e5e5  !important;
}

.reset_search{
  width: 60px;
  height: 37px;
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 0 2px 2px 0;
  box-shadow: 0px 0px 1px 1px #e5e5e5 !important;

  &:hover span{
    color: rgba($rosado, .9);
  }

  span{
    font-size: 20px;
    color: rgba($negro, .8);
    transition: all ease 0.4s;
  }

  .tooltiptext{
    width: 130px;
    left: -16px;
    padding: 6px 10px;
    bottom: -210%;

    &::after{
      content: "";
      top: -30%;
      border-color: transparent transparent black transparent;
    }
  }

}

.barra-filtro .input-barra>input{
  border: solid 1px #e5e5e5 !important;
}


/*
*=========ESTILOS DE MIGA DE PAN============
*/

.contenedor-barra-progreso{
  top: 60px;
  max-height: 61px;
  height: 61px;
  z-index: 10;
  box-shadow: 0px 0px 29px -5px rgba(0,0,0,0.48);
  padding: 0  10px;
  position: fixed;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  border-top: 1px solid rgba(0,0,0,0.2);
  align-items: center;
  left: 0;
  right: 0;
  overflow: auto;
  box-sizing: border-box;
  @include desde-hasta(0,tablet) {
    padding: 0;
  }

  .barra-progreso{
    min-width: 750px;
    width: 100% !important;
    justify-content: space-between;

    .pagina-barra-progreso{
      background: #D4D4D4;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 10;
      font-size: 16px;
      color: $blanco;
    }
  }
  .progreso{
    background: rgba(200, 202, 204, 0.41);
    height: 5px;
    width: 0%;
    position: absolute;
    top: 28px;
  }
  .progres-active{
    background: #1F95D0 !important;
  }
  .estoy-aqui{
    background: #566167 !important;
  }
}

.margin-top{
 margin-top: 70px !important;
}

.margin-resultado{
margin-top: 30px !important;
}

.progress-basica{
  background: rgba(200, 202, 204, 0.41);
  height: 5px;
  width: 3000px;
  margin-left: -200px;
  position: absolute;
  top: 28px;
}
