.style_select {
  margin-top: -20px;
}

.frm_contenedorMalo {
  border: 1px solid #AD0303 !important;
  margin-top: 5px;
}

.frm_contenedor {
  border: 1px solid #E5E5E5;
  margin-top: 5px;
}

.frm_tituloInput {
  padding-left: 5px;
}

.frm_input {
  width: 60%;
  height: 36px;
  border: 1px solid transparent !important;
  outline: none !important;
}



/*TOOLTIP*/
.wrapper {
  cursor: pointer;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  /* webkit flicker fix */
  font-smoothing: antialiased;
  /* webkit text rendering fix */
}

.wrapper .frm_mensajeValidacion {
  font-size: 13px;
  text-align: center;
  background: #1496bb;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  bottom: 100%;
  color: #fff;
  display: block;
  left: -200px;
  margin-bottom: 15px;
  opacity: 0;
  padding: 10px;
  pointer-events: none;
  position: absolute;
  width: 200px;
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
  transition: all .25s ease-out;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

/* This bridges the gap so you can mouse into the tooltip without it disappearing */
.wrapper .frm_mensajeValidacion:before {
  bottom: -20px;
  content: " ";
  display: block;
  height: 15px;
  left: 0;
  position: absolute;
  width: 100%;
}

/* CSS Triangles - see Trevor's post */
.wrapper .frm_mensajeValidacion:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid #1496bb 10px;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 95.5%;
  margin-left: -13px;
  position: absolute;
  width: 0;
}

.wrapper:hover .frm_mensajeValidacion {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}

@media (max-width: 491px) {
  .frm_input {
    width: 90%;

  }

  .frm_select2_adaptable {
    margin-top: -20px !important;
  }
}
