.separar{
	margin-top: 10px;
	margin-bottom: 10px;
}

.Cambiar{
	display: none;
}



#AbrirModalKit{
	position: absolute;;
	top: 160px;
	right: 100px;
}
		.AbrirModalKit {
			margin-right: 1em;
			margin-right: 0.5em;
		  background:rgba(0,0,0,0);
			display:-webkit-flex;
			display:-ms-flexbox;
			display:flex;
			-webkit-justify-content:center;
			-ms-flex-pack:center;
			justify-content:center;
			-webkit-align-items:center;
			-ms-flex-align:center;
			align-items:center;
		  height: 50px;
		  width: 45px;
			padding:0.5em;
			font-size:24px;
			box-shadow:1px 1px 5px rgba(0,0,0,0.2);
			transition:all ease 0.5s;
			border-radius:50%;
			cursor:pointer;
			float:right;
			z-index:1000
			}

		}
		.AbrirModalKit  {
			z-index:1000
			}

#AbrirModalKit:hover{
color:#fff;
}

.AbrirModalKit:hover{
background:#1F95D0;
color:#fff;
}


.cambiar{
	display: none;
}



