@import "../../Base/_funciones.scss";
@import "../../Base/_variables.scss";


@media screen and (max-width: 400px) {
  .chat-header{
    width: 100% !important;
  }
}

.chat-content {
  padding: 10px;
  overflow-y: auto;
  height: 200px;
}

.chat-history {
  padding: 20px 10px 0px 10px;
  height: 100%;
}

.chat-history .message-data {
  margin-bottom: 15px;
}

.chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}

.chat-history .llamada {
  padding-bottom: 35px;
  text-align: center;
}

.chat-history .message {
  color: white;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: auto;
  max-width: 85%;
  position: relative;
}

.chat-history .my-message:after {
  bottom: 100%;
  right: 14px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #1F95D0;
  border-width: 10px;
  margin-left: -10px;
}

.chat-history .other-message:after {
  bottom: 100%;
  left: 22px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #2ecc71;
  border-width: 10px;
  margin-left: -10px;
}

.chat-history .other-message {
  background: #2ecc71;
}

.chat-history .my-message {
  background: #1F95D0;
}


.online, .offline, .me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: #2ecc71;
}

.me {
  color: #1F95D0;
  margin-left: 3px;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.float-left{
  float: left;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  text-decoration: none;
}

.finalizada {
  color: #E75B74;
  padding-right: 5px;
}

.realizada {
  color: #2ecc71;
  padding-right: 5px;
}

#title-submenu {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

li {
  list-style: none;
}

/*-----------=============== PANEL FORMULARIO ==============-----------*/

.inf-control{
  display: flex;
}

.panel-inf-user{
  background: #FFF;
  color: #FFF;
  padding: 0px 0px 10px 0px;
  z-index: 199;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);

  .inf-control {
    background: #1F95D0;

    p {
      letter-spacing: 2px;
      font-weight: 500;
      font-size: 13px;
      padding: 5px;
      margin-left: 8px !important;
    }
  }
  .inf-cabecera {
    background: #1F95D0;
    margin-bottom: 15px;
    padding: 1em 2px 0em 2px;
  }

  img {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 12px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 12px -3px rgba(0,0,0,0.75);
  }
}

.inf-contenido {
  padding: 0px 7px 0px 7px;
  background: #FFF;
  color: #555555;

  .title_content{
    border-bottom: 1px solid #efefef;
    padding-bottom: .5em;
    margin-bottom: 10px;
  }

  h6 {
    font-weight: 600;
    color: $azul-barra;

  }
  .datos {
    width: 90%;
    border: 1px solid #EFEFEF;
    padding: 10px;
    margin: 6px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.1);

    p:nth-child(1) {
      color: $azul-barra;
    }
    p {
      font-size: 15px;
    }
  }
}

li.no_notifications > img{
  display: block !important;
}
li.no_notifications > h6 {
  color: #1F95D0;
  padding: 16px 80px;
  text-align: center;
}

.load {
  width: 45px;
  height: 45px;
  border: 2px solid #1F95D0;
  border-radius: 50%;
  border-top: 0;
  border-left: 0;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 1s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

// PDF
.pdf-button {
  margin-top: -2.9px;
  cursor: pointer;
  .tooltip > .tooltiptext{
    margin-left: -23px;
  }
}
.btn_generate_pdf {
  font-size: 13px;
}
