.users_panel {
  width: 450px;
  max-width: 450px;
  height: 550px;
  margin-right: 2em;
}

.users_panel .header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.users_panel .users_container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.users_panel .users_container li.user {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.users_panel .users_container li.user img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.users_panel .users_container li.user:active {
  background-color: #fafafa;
}

.chat_panel {
  width: 450px;
  max-width: 450px;
  height: 550px;
}

.chat_panel .chat_header {
  background-color: #fafafa;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.chat_panel .chat_header img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.chat_panel .chat_history ul.chat_history_container {
  list-style: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.chat_panel .chat_history ul.chat_history_container .message-data {
  margin-bottom: 15px;
}

.chat_panel .chat_history ul.chat_history_container .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}

.chat_panel .chat_history ul.chat_history_container .llamada {
  padding-bottom: 35px;
  text-align: center;
}

.chat_panel .chat_history ul.chat_history_container .message {
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 90%;
  position: relative;
}

.chat_panel .chat_history ul.chat_history_container .message::after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #2ecc71;
  border-width: 10px;
  margin-left: -10px;
}

.chat_panel .chat_history ul.chat_history_container .my-message {
  background: #2ecc71;
}

.chat_panel .chat_history ul.chat_history_container .other-message {
  background: #1F95D0;
}

.chat_panel .chat_history ul.chat_history_container .other-message {
  background: #1F95D0;
}

.chat_panel .chat_history ul.chat_history_container .other-message:after {
  border-bottom-color: #1F95D0;
  left: 93%;
}

.chat_panel .chat_history ul.chat_history_container .online, .chat_panel .chat_history ul.chat_history_container .offline, .chat_panel .chat_history ul.chat_history_container .me {
  margin-right: 3px;
  font-size: 10px;
}

.chat_panel .chat_history ul.chat_history_container .online {
  color: #2ecc71;
}

.chat_panel .chat_history ul.chat_history_container .me {
  color: #1F95D0;
}

.chat_panel .chat_history ul.chat_history_container .align-left {
  text-align: left;
}

.chat_panel .chat_history ul.chat_history_container .align-right {
  text-align: right;
}

.chat_panel .chat_history ul.chat_history_container .float-right {
  float: right;
}

.chat_panel .chat_history ul.chat_history_container .clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  text-decoration: none;
}

.chat_panel .chat_input {
  background: #efefef;
  color: #666;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: .4em;
}

.chat_panel .chat_input input[type=text] {
  border-radius: 5px;
  padding: .3em .5em;
  color: #666;
}

.chat_panel .chat_input .button {
  padding: 0em .8em;
}

.chat_panel .chat_input .button span {
  cursor: pointer;
}

.chat_panel .chat_input .button .fa-send {
  font-size: 15px;
}
